[user]
    email = tripathi.shubhang2000@gmail.com
    name = Shubhang Tripathi

[alias]
    graph = log --all --graph --decorate

[core]
    editor = nvim
    excludesFile = ~/.cvsignore
    pager = LESS='-RF' delta

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = line-numbers decorations # side-by-side
    ; side-by-side = true
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[diff]
    colorMoved = default

[color]
    ui = auto
[pull]
    # rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
